.circle{
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  
  position: absolute;
  
}
.circle2{
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  
  position: absolute;
  
}